<!DOCTYPE html>
<html>
<head>
<title>Zaploop Extractor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

input {
  min-width: 250px;
  padding: 5px;
  margin: 5px;
}

.footer {
  background-color: #0C5DEE;
  color: white !important;
}



</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWd2Er6aGk46GpGePsuN9SgkYasGWZfc0L2jtrg4dSenLmtdD7kcWxTKaG0qp1osENax4&usqp=CAU" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Bem vindo, <strong>Thiago</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Tráfego</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Novidades</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Histórico</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Configurações</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Painel De Controle</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Mensagens Enviadas</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Leads</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Leads</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <button id="cpubutton"   onclick="msgsocket()"   >Dados CPU</button> 
        <br>
        <br>
        
        <h5>Tipo de comércio:</h5>

        <input placeholder="Ex: pizza/sushi/dentista" id="cliente">
        
         <h5>Cidade:</h5>

        <input placeholder="Ex: Curitiba" id="cliente">
        
        <button class="w3-button w3-green" id="cpubutton"   onclick="await postTeste()"   >Enviar</button> 



      </div>
      <div class="w3-twothird">
        <h5>Atualizações</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>5.8634 Contatos extraidos</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Banco de dados restante: 68%.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>31 Clientes.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>1 Novo comentário.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>Atualização disponível de nodeJS.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
            <td id="cpu">85% CPU</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
            <td id="textMemoria">Memoria disponível: </td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dados Gerais</h5>
    <p>Visitantes</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+21,9%</div>
    </div>

    <p>Clientes</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:50%">52,3%</div>
    </div>

    <p>Bounce</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:12%">12%</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Resultados da extração:</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Brasíl</td>
        <td>93%</td>
      </tr>
      <tr>
        <td>Estados Unidos</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Portugal</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Espanha</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>Argentina</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    
  </div>
  <hr>
  <div class="w3-container">
    <h5>Clientes Novos</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWd2Er6aGk46GpGePsuN9SgkYasGWZfc0L2jtrg4dSenLmtdD7kcWxTKaG0qp1osENax4&usqp=CAU" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jefferson souza</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWd2Er6aGk46GpGePsuN9SgkYasGWZfc0L2jtrg4dSenLmtdD7kcWxTKaG0qp1osENax4&usqp=CAU" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Filipe Santos</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWd2Er6aGk46GpGePsuN9SgkYasGWZfc0L2jtrg4dSenLmtdD7kcWxTKaG0qp1osENax4&usqp=CAU" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Andreia Ribeiro</span><br>
      </li>
    </ul>
  </div>
  <hr>

 
  <br>
  <div class="footer">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Empresa</h5>
        <p>Planos</p>
        <p>Preços</p>
        <p>Contato: 48 91854014</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">Comunidade</h5>
        <p>Grupo Facebook</p>
        <p>Grupo WhatsApp</p>
        <p>Tutoriais Youtube</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Métricas</h5>
        <p>+ 450 Zaploopers</p>
        <p>+ 1.351.541 Mensagens</p>
        <p>5 Servidores</p>
      </div>
    </div>
  </div>


  <!-- End page content -->
</div>

<script>

let resposta = "";


const socket = new WebSocket("ws://localhost:8082")

socket.addEventListener('message', e => {
  console.log(e);
})

socket.addEventListener('open', () => {
  console.log('Conexão websocket estabelecida 🔋');
})

//escuta as mensagens VINDAS do server
socket.onmessage = ({ data }) => {
  let 
  Parseados = JSON.parse(data)
  console.log('CPU:\n\n ', dadosParseados.CPU)
  console.log('Memoria:\n\n ', dadosParseados.Memoria)

  let textCPU = document.getElementById('cpu');
  textCPU.innerHTML = dadosParseados.CPU;

  let textMemoria = document.getElementById('textMemoria');
  textMemoria.innerHTML = dadosParseados.Memoria;

}

//função de envio de mensagem, DO cliente, para o servidor
function msgsocket() {
  socket.send(document.getElementById('cliente').value)
}




// pega o menu lateral
var mySidebar = document.getElementById("mySidebar");

// pega a div com efeito de realçe
var overlayBg = document.getElementById("myOverlay");

// Toggle entre mostrar ou esconde o menu lateral, e adiciona o realçe
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Fecha o menu lateral
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
  
async function postTeste() {
  
  let url = "http://localhost:8080/teste"
  fetch(url)
  .then(response => {
    //handle response            
    console.log(response);
    alert("Resposta recebida: \n" + JSON.parse(response))
  })
  .then(data => {
    //handle data
    console.log(data);
    alert("Resposta recebida: \n" + JSON.parse(data))

  })
  .catch(error => {
    //handle error
  });
}  
  
  
  
</script>

</body>
</html>
