<!DOCTYPE html>
<html>
<head>
<title>Logs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

input {
  min-width: 250px;
  padding: 5px;
  margin: 5px;
}

.footer {
  background-color: #0C5DEE;
  color: white !important;
}



</style>
</head>
<body class="w3-light-grey">

    <script src="./papaparse.min.js"></script>




<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:20px;margin-top:43px;">

  <!-- Header -->


 

 
  <hr>
  <div class="w3-container">
    <h5>Dados Gerais</h5>
    <p>Visitantes</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+21,9%</div>
    </div>


  </div>
  <hr>

  <div class="w3-container">
    <h5>Logs de requisições feitas ao servidor:</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Brasíl</td>
        <td>93%</td>
      </tr>
      <tr>
        <td>Estados Unidos</td>
        <td>15.7%</td>
      </tr>
  
    </table><br>
    
  </div>
  <hr>
 
  <hr>

 
  <br>
  <div class="footer">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Empresa</h5>
        <p>Planos</p>
        <p>Preços</p>
        <p>Contato: 48 91854014</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">Comunidade</h5>
        <p>Grupo Facebook</p>
        <p>Grupo WhatsApp</p>
        <p>Tutoriais Youtube</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Métricas</h5>
        <p>+ 450 Zaploopers</p>
        <p>+ 1.351.541 Mensagens</p>
        <p>5 Servidores</p>
      </div>
    </div>
  </div>


  <!-- End page content -->
</div>

<script>

  
  
  
</script>

</body>
</html>
